body {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#not-found-title {
  display: flex;
  flex-direction: row;
  margin: 8rem;
}

.not-found-text {
  font-family: monospace;
  font-size: 10rem;
}

#not-found-translation {
  font-size: 1.5rem;
  font-family: Montserrat;
  text-align: center;
}
