html,
body {
  background-color: var(--background);
  color: var(--f_high);
  font-family: 'Montserrat', sans-serif;
}

#title {
  margin: 0;
  padding: 0;

  font-family: monospace;
  font-size: 5rem;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: blinking 3s ease-in-out infinite;
  transition: all 0.2s ease-in-out;
}

#title:hover {
  color: var(--f_low);
  cursor: pointer;
}

fieldset {
  border: 2px solid var(--f_med);
  border-radius: 0.5rem;
}

a {
  color: var(--f_med);
}

a:visited {
  color: var(--f_low);
}

#bar {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3rem solid var(--f_med);
}

#bar-title {
  font-size: 1.5rem;
}

#bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-item {
  color: var(--f_high);
  text-decoration: none;

  padding: 0rem 5rem;
  font-size: 1rem;

  cursor: pointer;
}

.bar-item:hover {
  color: var(--f_low);
}

.content {
  display: none;
  margin: 1rem 10rem;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

hr.med {
  border-bottom: 2px solid var(--f_med);
}

hr.low {
  border-bottom: 2px solid var(--f_low);
}
