@font-face {
  font-family: "AlphaBetaFirstChild";
  src: url("../fonts/alphabeta-firstchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaSecondChild";
  src: url("../fonts/alphabeta-secondchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaThirdChild";
  src: url("../fonts/alphabeta-thirdchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaFourthChild";
  src: url("../fonts/alphabeta-fourthchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaFifthChild";
  src: url("../fonts/alphabeta-fifthchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaSixthChild";
  src: url("../fonts/alphabeta-sixthchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaSeventhChild";
  src: url("../fonts/alphabeta-seventhchild-webfont.woff") format("woff");
}

@font-face {
  font-family: "AlphaBetaEighthChild";
  src: url("./fonts/alphabeta-eighthchild-webfont.woff") format("woff");
}
