@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500;600&display=swap");

* {
  font-family: "Overpass";
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ede6c4;
}

.solid {
  border-top: 3px solid #8e8e84;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #f4f0d9;
  width: 33vw;
  padding: 3vh 3vw 3vh 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

#container:hover {
  box-shadow: 2px 2px 10px #8e8e84;
}

h1 {
  font-weight: 600;
}

#links {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3vh 3vw 3vh 3vw;
  width: 100%;
}

a {
  text-decoration: none;
  color: #333539;
}

.link {
  display: flex;
  padding: 1vh 1vw 1vh 1vw;
  margin: 1vh 1vw 1vh 1vw;
  width: 80%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-color: #53c4a0;
}
